.info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, auto));
  column-gap: 100px;
  row-gap: 30px;
  margin-bottom: 50px;

  &-block {
    &__title {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: var(--color-h3);
      text-transform: uppercase;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.5px solid var(--color-gray-lighter-2);

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__label,
    &__value {
      font-weight: 400;
      font-size: 12px;
      line-height: 167%;
      color: var(--color-text);
    }
  }
}

@include mobile {
  .info {
    row-gap: 15px;
    margin-bottom: 48px;

    &-block {
      &__title {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 15px;
        line-height: 133%;
        text-transform: none;

        &--hidden {
          display: none;
        }
      }
    }
  }
}
