.related-products {
  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 91%;
    margin-bottom: 30px;
    color: var(--color-h2);
  }

  .swiper {
    width: 100%;

    &-wrapper {
      max-width: 100%;
    }

    &-slide {
      width: auto;
    }
  }
}

@include mobile {
  .related-products {
    &__container {
      padding-right: 0;
    }

    &__title {
      margin-bottom: 25px;
      font-weight: 500;
      font-size: 18px;
      line-height: 111%;
    }

    .swiper {
      padding: 15px 12px;

      &-wrapper {
        overflow: visible;
      }

      &-slide {
        display: flex;
        height: auto;
        max-width: 288px;
      }
    }
  }
}
