.reviews {
  &__text {
    max-width: 523px;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-text);
  }

  &__btn {
    transition: var(--transition) background-color;

    @media screen and (hover: hover) {
      &:focus-visible {
        outline-offset: var(--outline-offset);
        outline: var(--outline);
      }

      &:hover {
        color: var(--color-white);
        background-color: var(--color-primary-lighter);
      }
    }

    &:active {
      color: var(--color-white);
      background-color: var(--color-primary-darker);
    }
  }
}

@include mobile {
  .reviews {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__text {
      margin-bottom: 32px;
      text-align: justify;
    }

    &__btn {
      align-self: center;
    }
  }
}
