<div id="tab-1" role="tabpanel" aria-labelledby="tab-1" class="tab description active">
  <div class="container description__container">
    <div class="tab__text-block">
      <p class="tab__descr">
        <span class="bold">Томаты на ветке красные</span> (помидоры) - более плотные, яркие и
        ароматные по сравнению с обычными. Они славятся низкой калорийностью и высоким содержанием
        витаминов, клетчатки, пектина и минеральных веществ. В них содержатся также каротиноиды,
        кислоты и мощный антиоксидант ликопин.
      </p>
      <p class="tab__descr">
        Помидор - незаменимый продукт в мировой кулинарии. Он - основа многочисленных соусов,
        маринадов, кетчупа, испанского холодного супа Гаспачо или итальянской закуски Капрезе. С ним
        делают салаты, его тушат, солят и консервируют. Помидоры на веточке особенно красиво
        смотрятся в запеченном виде.
      </p>
    </div>
    <div class="info">
      <div class="info-block">
        <h3 id="info-title" class="info-block__title">Характеристики</h3>
        <ul class="info-block__list">
          <li class="info-block__item">
            <span class="info-block__label">Страна</span>
            <span class="info-block__value">Россия</span>
          </li>
          <li class="info-block__item">
            <span class="info-block__label">Поставщик</span>
            <span class="info-block__value">Фермеры: Наталья и&nbsp;Юрий Лейшан</span>
          </li>
          <li class="info-block__item">
            <span class="info-block__label">Тип упаковки</span>
            <span class="info-block__value">Крафтовый пакет</span>
          </li>
          <li class="info-block__item">
            <span class="info-block__label">Сертификаты качества</span>
            <span class="info-block__value">В&nbsp;наличии</span>
          </li>
        </ul>
      </div>
      <div class="info-block">
        <h3 class="info-block__title">
          Пищевая ценность <span class="info-block__title--hidden">на&nbsp;100г</span>
        </h3>
        <ul class="info-block__list">
          <li class="info-block__item">
            <span class="info-block__label">Энергетическая ценность</span>
            <span class="info-block__value">18&nbsp;кКал</span>
          </li>
          <li class="info-block__item">
            <span class="info-block__label">Белки</span>
            <span class="info-block__value">0.9&nbsp;г</span>
          </li>
          <li class="info-block__item">
            <span class="info-block__label">Жиры</span>
            <span class="info-block__value">0.2&nbsp;г</span>
          </li>
          <li class="info-block__item">
            <span class="info-block__label">Углеводы</span>
            <span class="info-block__value">3.9&nbsp;г</span>
          </li>
        </ul>
      </div>
      <div class="info-block">
        <h3 class="info-block__title">Условия хранения</h3>
        <ul class="info-block__list">
          <li class="info-block__item">
            <span class="info-block__label">Срок хранения</span>
            <span class="info-block__value">7&nbsp;дней</span>
          </li>
          <li class="info-block__item">
            <span class="info-block__label">Температура хранения</span>
            <span class="info-block__value">от&nbsp;3 &deg; до&nbsp;7 &deg;</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="related-products">
    <div class="container related-products__container">
      <h2 class="related-products__title">С этим товаром покупают</h2>
      <div id="related-products-swiper" class="swiper related-products-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-card">
              <picture class="product-card__picture">
                <source srcset="./images/card_1.webp" type="image/webp" />
                <img src="./images/card_1.jpg" alt="Молоко 3,2%" class="product-card__img" />
              </picture>
              <div class="product-card__content">
                <h4 class="product-card__title">Молоко 3,2%</h4>
                <p class="product-card__autor">от Вадима Рошки</p>
                <div class="product-card__price">
                  <p class="product-card__text">95 ₽ <span>/ 0,93 л</span></p>
                  <div class="rating">
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <button class="product-card-label" aria-label="Добавить в корзину">
                <span class="product-card-label__text">В корзину</span>
                <span class="product-card-label__icons">
                  <svg width="12" height="12" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#product-card-plus"></use>
                  </svg>
                  <svg width="24" height="24" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#shopping-card"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <picture class="product-card__picture">
                <source srcset="./images/card_2.webp" type="image/webp" />
                <img src="./images/card_2.jpg" alt="Хлеб пшеничный" class="product-card__img" />
              </picture>
              <div class="product-card__content">
                <h4 class="product-card__title">Хлеб пшеничный</h4>
                <p class="product-card__autor">от Дарьи и Марии</p>
                <div class="product-card__price">
                  <p class="product-card__text">95 ₽ <span>/ 930 г</span></p>
                  <div class="rating">
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <button class="product-card-label" aria-label="Добавить в корзину">
                <span class="product-card-label__text">В корзину</span>
                <span class="product-card-label__icons">
                  <svg width="12" height="12" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#product-card-plus"></use>
                  </svg>
                  <svg width="24" height="24" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#shopping-card"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <picture class="product-card__picture">
                <source srcset="./images/card_3.webp" type="image/webp" />
                <img src="./images/card_3.jpg" alt="Яйца куриные" class="product-card__img" />
              </picture>
              <div class="product-card__content">
                <h4 class="product-card__title">Яйца куриные</h4>
                <p class="product-card__autor">от Евгения Рошаль</p>
                <div class="product-card__price">
                  <p class="product-card__text">120 ₽ <span>/ 10 шт</span></p>
                  <div class="rating">
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <button class="product-card-label" aria-label="Добавить в корзину">
                <span class="product-card-label__text">В корзину</span>
                <span class="product-card-label__icons">
                  <svg width="12" height="12" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#product-card-plus"></use>
                  </svg>
                  <svg width="24" height="24" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#shopping-card"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <picture class="product-card__picture">
                <source srcset="./images/card_4.webp" type="image/webp" />
                <img
                  src="./images/card_4.jpg"
                  alt="Масло сливочное 82%"
                  class="product-card__img"
                />
              </picture>
              <div class="product-card__content">
                <h4 class="product-card__title">Масло сливочное 82%</h4>
                <p class="product-card__autor">от Вадима Рошки</p>
                <div class="product-card__price">
                  <p class="product-card__text">290 ₽ <span>/ 250 г</span></p>
                  <div class="rating">
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                    <svg width="15px" height="14px" class="rating-icon">
                      <use xlink:href="images/sprite.svg#rating-active"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <button class="product-card-label" aria-label="Добавить в корзину">
                <span class="product-card-label__text">В корзину</span>
                <span class="product-card-label__icons">
                  <svg width="12" height="12" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#product-card-plus"></use>
                  </svg>
                  <svg width="24" height="24" class="product-card-label__icon">
                    <use xlink:href="images/sprite.svg#shopping-card"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
