<div id="tab-3" role="tabpanel" aria-labelledby="tab-3" class="tab location">
  <div class="container location__container">
    <div class="location__content">
      <div class="location__text-block">
        <p class="location__text">
          Томаты на ветке красные (помидоры) - более плотные, яркие и ароматные по сравнению с
          обычными. Они славятся низкой калорийностью и высоким содержанием витаминов, клетчатки,
          пектина и минеральных веществ. В них содержатся также каротиноиды, кислоты и мощный
          антиоксидант ликопин.
        </p>
        <p class="location__text">
          Помидор - незаменимый продукт в мировой кулинарии. Он - основа многочисленных соусов,
          маринадов, кетчупа, испанского холодного супа Гаспачо или итальянской закуски Капрезе.
        </p>
      </div>
      <div class="location__img-block">
        <h4 class="location__img-title">Наталья и Юрий Лейшан</h4>
        <picture class="location__picture">
          <source srcset="images/location-img.webp" type="image/webp" />
          <img
            loading="lazy"
            src="images/location-img.jpg"
            class="location__img"
            alt="Человек на фоне теплицы"
          />
        </picture>
        <div class="location__btns">
          <button class="btn-reverse location__btn" aria-label="Посмотреть сертификаты">
            Сертификаты
          </button>
          <button class="btn-reverse location__btn" aria-label="Узнать о поставщике">
            О поставщике
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
