// MEDIA SIZES
$sizes: (
  'xs': 320px,
  'sm': 480px,
  'md': 576px,
  'lg': 768px,
  'xl': 1024px,
);

// Variables
:root {
  // Base
  --font-family: 'Montserrat', sans-serif;
  --transition: 0.1s ease-in-out;
  --br-radius: 5px;
  --br-card: 10px;

  // State of elements
  --outline-offset: 2px;
  --outline: 2px solid var(--color-primary);

  // Colors
  --color-primary: #429f3a;
  --color-primary-darker: #3a8332;
  --color-primary-lighter: #53c549;
  --color-gray-darker: #444444;
  --color-gray-darker-2: #454343;
  --color-gray-darker-3: #424141;
  --color-gray-darker-4: #3d3c3c;
  --color-gray-darker-5: #4d4b4b;
  --color-gray: #89817f;
  --color-gray-lighter: #b2b2b2;
  --color-gray-lighter-2: #d9d9d9;
  --color-gray-lighter-3: #dedede;
  --color-rocket-metallic: #89817f;
  --color-spanish-gray: #a69895;
  --color-dusty-gray: #a69895;
  --color-rich-black: #043e44;
  --color-yellow: #f9ce1e;
  --color-white: #fff;

  // Colors elements
  --color-h2: var(--color-gray-darker);
  --color-h3: var(--color-gray-darker);
  --color-h4: var(--color-gray-darker);
  --color-text: var(--color-gray-darker);
  --color-product-border: var(--color-gray-lighter-3);
  --color-product-title: var(--color-gray-darker-3);
  --color-product-autor: var(--color-rocket-metallic);
  --color-product-text-bold: var(--color-gray-darker-4);
  --color-product-text: var(--color-spanish-gray);
}
